<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title > Covoit' Marchal</title>
        <link rel="icon" href="../static/image/logo.ico" />
        <meta http-equiv="content-type" content="text/html; charset=UTF_8;width=device-width, initial-scale=1.0" name="viewport" />
        <link rel="stylesheet" media="screen" type="text/css" title="Covoit Marchal" href="../static/Style_glb.css" \>
    </head>
    <body>
    <div id="bandeau">
        <img src="../static/image/logo.png">
        <a href="/"><h1>Covoit'Marchal</h1></a>
        </div>

        <form action="#" method="post" class="form"> 
            <div class="input-container">
                <input type="text" name="name" id="nom" placeholder="Nom" required/><br>
                <input type="text" name="first_name" id="prenom" placeholder="Prénom"required/><br>
                <input type="text" name="adress" id="adresse" placeholder="Adresse"required/><br>
                <input type="text" name="city" id="ville" placeholder="Ville"required/><br>
                <input type="number" name="code" id="cdpost" placeholder="Code Postal"required/><br>
                <input type="text" name="username" id="identifiant" placeholder="Identifiant"required/><br>
                <input type="password"name="password1" id="password" placeholder="Mot de passe"required/><br>
                <input type="password" name="password2" id="confirm" placeholder="Confirmer le mot de passe"required/><br>
            </div>
                <button type="submit"  class="inscription">Inscription</button>
            
        </form>
            
        <p id="compte">Tu as un compte ? <a href="/connexion">|Connecte toi |</a></p>
    </body>
</html>
